/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 19, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
body {
  font-family: 'Lato', sans-serif;
  background: #EDEFF0;
}

/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.wrapper {
  width: 50%;
  max-width: 1140px;
  margin: 0 auto;
}

/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 35, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.clearfix:after {
  clear: both;
}

/* line 39, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.main_header {
  width: 100%;
  margin: 0 auto;
  background: #E0F5FF;
}
/* line 43, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.main_header #logo {
  float: left;
}
/* line 45, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.main_header #logo p {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 1.2rem;
}
/* line 52, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.main_header #buttons {
  float: right;
}

/* line 61, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
#posts .post .title {
  margin: 0;
}
/* line 63, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
#posts .post .title a {
  color: #397CAC;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.25rem;
}
/* line 70, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
#posts .post .date {
  margin-top: .25rem;
  font-size: 0.9rem;
  color: #B2BAC2;
}
